{% if ADD_THIS %}
    <!-- AddThis Smart Layers BEGIN -->
    <!-- Go to http://www.addthis.com/get/smart-layers to customize -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5292fa9d3ef576d4"></script>
    <script type="text/javascript">
        addthis.layers({
            'theme' : 'transparent',
            'share' : {
                'position' : 'left',
                'numPreferredServices' : 5
            },
            'follow' : {
                'services' : [
                    {'service': 'facebook', 'id': 'pnr.me'},
                    {'service': 'twitter', 'id': 'pnrme'},
                    {'service': 'google_follow', 'id': '+PnrMe'}
                ]
            }
        });
    </script>
    <!-- AddThis Smart Layers END -->
{% endif %}
